{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <section class="page-header-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="#">Course Cart</a></li>
                        </ol>
                    </nav>
                    <h1 class="page-title">Course Cart</h1>
                </div>
            </div>
        </div>
    </section>


    <section class="cart-list-area">
        <div class="container">

            {% if pay_to %}
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    Please pay {{ pageInfo.currency }}{{amount}} at {{pay_to}} to confirm purchase of course, check your email for more info
                </div>
            {% endif %}
            {% if discount %}
                {% if discount == 'invalid' %}
                    <div class="alert alert-danger alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Sorry the discount coupon you have applied is either invalid or has been expired
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Received a discount of {{ pageInfo.currency }}<strong>{{ discount }}</strong>
                    </div>
                {% endif %}
            {% endif %}

            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <div class="row" id="cart_items_details">
                        <div class="col-lg-9">
                            <div class="in-cart-box">
                                <div class="title">{{ total_items }} courses in cart</div>
                                <div class="">
                                    <ul class="cart-course-list">
                                        {% for item in cart %}
                                            {% with course=item.course %}
                                                <li>
                                                    <div class="cart-course-wrapper">
                                                        <div class="image">
                                                            <a href="">
                                                                <img src="{{ course.thumbnail.url }}" alt=""
                                                                     class="img-fluid">
                                                            </a>
                                                        </div>
                                                        <div class="details">
                                                            <a href="">
                                                                <div class="name">{{ course.title }}</div>
                                                            </a>
                                                        </div>
                                                        <div class="move-remove">
                                                            <div>
                                                                <form action="{% url 'cart:cart_remove' course.slug %}" method="post">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" value="{{ course.slug }}">
                                                                    <input type="submit" style="background:#f44336" class="btn btn-danger"
                                                                           value="Remove">
                                                                </form>
                                                            </div>
                                                            <!-- <div>Move to Wishlist</div> -->
                                                        </div>
                                                        <div class="price">
                                                            <a href="">
                                                                <div class="current-price">
                                                                    {{ course.price }}
                                                                </div>
                                                                <span class="coupon-tag">
                                                                    <i class="fas fa-tag"></i>
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endwith %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="cart-sidebar">
                                <div class="total">Total:</div>
                                <div class="total-price">
                                    {{ pageInfo.currency }}<span id="total_price_of_checking_out">{{ cart.get_total_price }}</span>
                                </div>
                                <a href="{% url "cart:cart_checkout" cart.get_total_price %}" class="btn btn-primary btn-block checkout-btn">Checkout
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="title">Cart is empty</div>
                {% endif %}
            {% endwith %}
        </div>
    </section>

{% endblock %}