{% extends 'layouts/base.html' %}

{% block content %}
<br><br>
  <div class="container">
  {% if user.is_authenticated %}
    <h4>Change password</h4>
{% else %}
    <h4>Forgot password</h4>
  {% endif %}
  <br><br>
  <form class="form-control" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group p-lg-2">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <br><br>
            <input type="{{ field.field.widget.input_type }}"
                    class="form-control"
                    name="{{ field.name }}"
                    id="id_{{ field.name }}"
                    placeholder="{{ field.field.widget.attrs.placeholder }}">
        </div>
        {% if form.errors %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <button class="btn btn-danger" type="submit">Get Reset Link</button>
  </form>
  </div>
{% endblock %}