{% extends 'layouts/base.html' %}

{% block content %}
  <br><br>
  {% if validlink %}
    <div class="container">
    <h4>Change your password</h4>
    <form class="form-control" method="post">
      {% csrf_token %}
      {% for field in form %}
          <div class="form-group">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="{{ field.field.widget.input_type }}"
                      class="form-control"
                      name="{{ field.name }}"
                      id="id_{{ field.name }}"
                      placeholder="{{ field.field.widget.attrs.placeholder }}">
          </div>
          {% if form.errors %}
              {% for error in field.errors %}
                  <div class="alert alert-danger alert-dismissable">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                      <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
      {% endfor %}
      <button class="btn btn-success" style="background-color: #00BCD4" type="submit">Change password</button>
    </form>
  {% else %}
    <div class="container">
    <h4>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </h4>
    </div>
  {% endif %}
{% endblock %}