
<br>
<footer class="page-footer font-small footer-area justify-content-md-center">
    <div class="col-sm-12 col-md-12 col-lg-1"></div>
    <div class="col-sm-12 col-md-12 col-lg-1"><a href="{% url 'root:about' %}"><small>About</small></a></div>
    <div class="col-sm-12 col-md-12 col-lg-1"><a href="{% url 'root:privacy' %}"><small>Privacy Policy</small></a></div>
    <div class="col-sm-12 col-md-12 col-lg-1"><a href="{% url 'root:tnc' %}"><small>Terms and Condition</small></a></div>
    <div class="col-sm-12 col-md-12 col-lg-6" id="copyright">© {% now "Y" %} <small>Powered by <a href="https://mindwebs.org"> MinD Webs</small></a></div>
</footer>