
<br>
<footer class="page-footer font-small footer-area justify-content-md-center">
    <div class="col-sm-12 col-md-12 col-lg-1"></div>
    <div class="col-sm-12 col-md-12 col-lg-1"><a href="{% url 'root:about' %}">About</a></div>
    <div class="col-sm-12 col-md-12 col-lg-1"><a href="{% url 'root:privacy' %}">Privacy Policy</a></div>
    <div class="col-sm-12 col-md-12 col-lg-1"><a href="{% url 'root:tnc' %}">Terms and Condition</a></div>
    <div class="col-sm-12 col-md-12 col-lg-6" id="copyright">© {% now "Y" %} Powered by <a href="https://mindwebs.org"> MinD Webs</a></div>
</footer>