{% load static %}

<section class="menu-area">
    <div class="container-xl">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <ul class="mobile-header-buttons">
                        <li><a class="mobile-nav-trigger" href="#mobile-primary-nav">Menu<span></span></a></li>
                        <li><a class="mobile-search-trigger" href="#mobile-search">Search<span></span></a></li>
                    </ul>

                    <a class="navbar-brand" href="/">
                        <img src= "{% static 'images/logo.png' %}" alt="" height="30">
                        <span style="
                            font-size: larger;
                            background: #d6249f;
                            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        ">Insta</span> Worthy Academy
                    </a>

                    {% include 'partials/menu.html' %}

                    <form class="inline-form" action="{% url 'root:search' %}" method="get" style="width: 100%;">
                        <div class="input-group search-box mobile-search">
                            <input type="text" name='q' class="form-control"
                                   placeholder="Search for courses">
                            <div class="input-group-append">
                                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    {% if request.user_agent.is_pc %}
                    <div class="cart-box menu-icon-box" id="cart_items">
                        {% include 'partials/cart.html' %}
                    </div>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <div class="user-box menu-icon-box">
                            <div class="icon">
                                <a href="#">
                                    <img src="{% static 'images/avatar.png' %}" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="dropdown user-dropdown corner-triangle top-right">
                                <ul class="user-dropdown-menu">

                                    <li class="dropdown-user-info">
                                        <a href="">
                                            <div class="clearfix">
                                                <div class="user-image float-left">
                                                    <img src="{% static 'images/avatar.png' %}" alt=""
                                                         class="img-fluid">
                                                </div>
                                                <div class="user-details">
                                                    <div class="user-name">
                                                        <smaller  style="font-size:0.6em">{{ request.user.email }}</smaller>
                                                    </div>
                                                    <div class="user-email">
                                                        <span class="email">{{ request.user.name }}</span>
                                                        <span class="welcome">Welcome back</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="user-dropdown-menu-item">
                                        <a href="{% url 'accounts:enrolled-courses' %}">
                                            <i class="far fa-gem"></i>Enrolled Courses
                                        </a>
                                    </li>
                                    <li class="user-dropdown-menu-item">
                                        <a href="https://www.facebook.com/groups/2580480742199538?group_view_referrer=instaworthyacademy">
                                            <i class="far fa-heart"></i>Join Facebook Group
                                        </a>
                                    </li>
                                    <li class="user-dropdown-menu-item">
                                        <a href="{% url 'accounts:my-profile' %}">
                                            <i class="fas fa-user"></i>Profile Edit
                                        </a>
                                    </li>
                                    <li class="dropdown-user-logout user-dropdown-menu-item">
                                        <a href="{% url 'accounts:logout' %}">Logout</a>
                                    </li>
                                    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
                                    <li class="dropdown-user-logout user-dropdown-menu-item">
                                        <a href="{% url 'cart:cart_detail' %}"><i class="fas fa-cart-arrow-down"></i>Cart</a>
                                    </li>
                                    {% endif %}
                                    {% if request.user.is_superuser  %}
                                    <li class="user-dropdown-menu-item bg-info text-center text-light">
                                        <a href="/admin" style="color:white; text-decoration:none;">Admin Panel</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <span class="signin-box-move-desktop-helper"></span>
                        <div class="sign-in-box btn-group">

                            <a href="{% url 'accounts:login' %}" class="btn btn-sign-in">Login</a>

                            <a href="{% url 'accounts:register' %}" class="btn btn-sign-up">Sign up</a>


                        </div>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</section>
