{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

    <section class="user-dashboard-area">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="user-dashboard-box">
                        {% if not request.user_agent.is_mobile %}
                        <div class="user-dashboard-sidebar">
                            <div class="user-box">
                                <img src="{% static 'images/avatar.png' %}" alt="" class="img-fluid">
                                <div class="name">
                                    <div class="name">
                                        {{ request.user.first_name }} {{ request.user.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="user-dashboard-menu">
                                <ul>
                                    <li class="active">
                                        <a href="{% url 'accounts:my-profile' %}">Profile</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'accounts:password_reset' %}">Manage Password</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        <div class="user-dashboard-content container">
                            <div class="content-title-box">
                                <div class="title">Profile</div>
                                <div class="subtitle">Add information about yourself to share on your profile.
                                </div>
                            </div>
                            
                            <hr>
                            <form action="#" method="post">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                                        <input type="{{ field.field.widget.input_type }}"
                                            class="form-control"
                                            name="{{ field.name }}"
                                            id="id_{{ field.name }}"
                                            placeholder="{{ field.field.widget.attrs.placeholder }}">
                                    </div>
                                    {% if form.errors %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger alert-dismissable">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                <div class="content-update-box">
                                    <button type="submit" class="btn">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}