{% extends 'layouts/base.html' %}

{% load static %}
{% load total_minutes %}

{% block content %}

    <section class="home-banner-area">
        <div class="container-lg">
            <div class="row">
                <div class="col">
                    <div class="home-banner-wrap">
                        {{ pageInfo.home_banner|safe }}
                        <form class="" action="{% url 'root:search' %}" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" name="q"
                                       placeholder="Let's get started !">
                                <div class="input-group-append">
                                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-fact-area">
        <div class="container-lg">
            <div class="row">
                <div class="col-md-4 col-12 ">
                    <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                        <i class="fas fa-book float-left"></i>
                        <div class="text-box">
                            {{ pageInfo.tag_1|safe }}
                        </div>
                    </div> 
                </div>

                <div class="col-md-4 col-12 ">
                    <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                        <i class="fa fa-check float-left"></i>
                        <div class="text-box">
                            {{ pageInfo.tag_2|safe }}
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12">
                    <div class="home-fact-box mr-md-auto ml-auto mr-auto">
                        <i class="fas fa-hourglass-start float-left"></i>
                        <div class="text-box">
                            {{ pageInfo.tag_3|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="course-carousel-area">
        <div class="container-lg">
        {% if no_slug %}
            <div class="row">
                <div class="col">
                <h1 style="color:#aaaaaa; text-align:center;padding:1em">Choose your learning path</h1>
                <div class="course-carousel">
                    {% for cat in m_categories %}
                    <div class="course-box-wrap">
                        <a href="{% url 'root:home' cat.slug %}">
                            <div class="course-box">
                                <div class="course-image">
                                    <img style="object-fit:cover; height:200px;" src="{% static 'images/morty.jpg' %}" alt="" class="img-fluid">
                                </div>
                                <div class="course-details">
                                    <h5 class="title text-center">{{ cat.title }}</h5>                                    
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>        
        {% else %}
            <div class="row">
                <div class="col">
                <h2 style="color:#aaaaaa; text-align:center;padding:0.7em">Choose your track</h2>
                <div class="course-carousel">
                    {% for cat in sub_categories %}
                    <div class="course-box-wrap">
                        <a href="{% url 'courses:course-by-category' cat.slug %}">
                            <div class="course-box">
                                <div class="course-details">
                                    <h5 class="title text-center">{{ cat.title }}</h5>                                    
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                </div>
            </div>        
            <div class="row">
                <div class="col">
                <h2 style="color:#aaaaaa; text-align:center;padding:0.7em">Popular Courses</h2>
                    <div class="course-carousel">
                        {% for top_course in top_courses %}

                            <div class="course-box-wrap">
                                <a href="{% url 'courses:course-details' top_course.slug %}" {% if not request.user_agent.is_touch_capable %} class="has-popover" {% endif %}>
                                    <div class="course-box">
                                        <div class="course-badge position best-seller">Best seller</div>
                                        <div class="course-image">
                                            <img style="object-fit:cover; height:200px;" src="{{ top_course.thumbnail.url }}" alt="" class="img-fluid">
                                        </div>
                                        <div class="course-details">
                                            <h5 class="title">{{ top_course.title }}</h5>
                                            <p class="instructors">{{ top_course.short_description }}</p>
                                            <p class="price text-right">
                                                {{ pageInfo.currency }}{{ top_course.price }}
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <div class="webui-popover-content">
                                    <div class="course-popover-content">

                                        <div class="course-title">
                                            <a href="{% url 'courses:course-details' top_course.slug %}">{{ top_course.title }}</a>
                                        </div>
                                     
                                        <div class="course-meta">
                                            <span class=""><i class="fas fa-play-circle"></i>
                                                <small><strong>{{ top_course.lessons.count }} lessons</small></strong>
                                            </span>
                                            <span class=""><i class="far fa-clock"></i>
                                                <small><strong>
                                                {% if top_course.lessons.count > 0 %}
                                                    {{ top_course.lessons|total_time }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                                </small></strong>
                                            </span>
                                            <span class="">
                                                <i class="fas fa-closed-captioning"></i>{{ top_course.language }}
                                            </span>
                                        </div>
                                        <div class="course-subtitle">{{ top_course.short_description }}</div>
                                        <div class="what-will-learn">
                                            <ul>
                                                {{ top_course.outcomes }}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
    </section>
    <section>
    {% if testimonials %}
    <div class="jumbotron text-center"style="background-color: #F5F5F5">
    <h4>Testimonials</h4>
    <hr style="background-image: linear-gradient(90deg, purple, pink); height:1px; width:75%">
    {% include 'partials/testimonials.html' with testimonials=testimonials %}
    </div>
    {% endif %}
    </section>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"ed7309ee6851df9fc4eca3556","lid":"27d0727779","uniqueMethods":true}) })</script>


{% endblock %}
