{% extends 'layouts/base.html' %}
{% load static %}
{% load total_minutes %}
{% load embed_video_tags %}
{% load watched %}

{% block content %}
    <section class="course-header-area">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-8">
                    <div class="course-header-wrap">
                        <h1 class="title">{{ course.title }}</h1>
                        <p class="subtitle">{{ course.short_description|truncatewords:20 }}</p>
                        <div class="created-row">
                            <span class="last-updated-date">Created on {{ course.created_at|date }}</span><br>
                            <span class="last-updated-date">Last updated on {{ course.updated_at|date }}</span>
                            <span class="comment">
                                <i class="fas fa-comment"></i>{{ course.language }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                </div>
            </div>
        </div>
    </section>

    <section class="course-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="what-you-get-box">
                        <div class="what-you-get-title">What will I learn?</div>
                        <ul class="what-you-get__items">
                            <li>{{ course.outcome }}</li>
                        </ul>
                    </div>
                    <br>
                    <div class="course-curriculum-box">
                        <div class="course-curriculum-title clearfix">
                            <div class="title float-left">Lessons for this course</div>
                            <div class="float-right">
                                <span class="total-lectures">
                                   <small><strong>{{ course.lessons.count }} lessons</small></strong>
                                </span>
                                <span class="total-time">
                                   <small><strong>
                                        {% if course.lessons.count > 0 %}
                                            {{ course.lessons|total_time }}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </small></strong>
                                </span>
                            </div>
                        </div>
                        <div class="course-curriculum-accordion">

                            <div class="lecture-group-wrapper">
                                <div class="lecture-group-title clearfix" data-toggle="collapse"
                                     data-target="#collapse"
                                     aria-expanded="false">
                                    <div class="title float-left">
                                        Lessons
                                    </div>
                                    <div class="float-right">
                                        <span class="total-lectures">
                                             <small>{{ course.lessons.count }} lessons</small>
                                        </span>
                                        <span class="total-time">

                                            <small>
                                            {% if course.lessons.count > 0 %}
                                                {{ course.lessons|total_minutes }} 
                                            {% else %}
                                                0
                                            {% endif %}                                            
                                            minutes</small>
                                        </span>
                                    </div>
                                </div>

                                <div id="collapse" class="lecture-list collapse">
                                    <ul>
                                        {% for lesson in course.lessons.all %}
                                            <li class="lecture has-preview" id="id{{ lesson.id }}">
                                                <span data-toggle="modal" data-target="#{{ lesson.title }}" data-id="{{ lesson.title }}" href="#myModal" class="lecture-title">
                                                {{ lesson.title }}
                                                </span> 
                                                {% if is_enrolled and has_access%}
                                                    <span id="icon{{ lesson.id }}">{% has_watched lesson request.user %}</span>
                                                {% elif lesson.is_demo %}
                                                    <span>DEMO</span>
                                                {% endif %} 
                                                <span class="lecture-time float-right"><small>{{ lesson.duration }} mins</small></span>
                                                {% if has_access %}
                                                    {% include 'partials/modal.html' with lesson=lesson user=request.user %}
                                                {% elif lesson.is_demo %}
                                                    {% include 'partials/modal.html' with lesson=lesson %}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="requirements-box">
                        <div class="requirements-title">Requirements</div>
                        <div class="requirements-content">
                            <ul class="requirements__list">
                                <li>{{ course.requirements }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="description-box view-more-parent">
                        <div class="view-more" onclick="viewMore(this,'hide')">
                            + View More
                        </div>
                        <div class="description-title">Description</div>
                        <div class="description-content-wrap">
                            <div class="description-content">
                                {{ course.content|safe }}
                            </div>
                        </div>
                    </div>

                    <div class="compare-box view-more-parent">
                        <div class="view-more" onclick="viewMore(this)">+ View More</div>
                        <div class="compare-title">Other related courses on</div>
                        <div class="compare-courses-wrap">
                            <div class="row">
                            {% for tag in tags %}
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card bg-light mb-3" style="max-width: 18rem;">
                                    <div class="card-header"><a style="text-decoration:none" href="{% url 'courses:course-by-category' tag.category.slug %}">{{ tag.category }}</a></div>
                                </div>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="student-feedback-box">
                        <div class="student-feedback-title">
                            Comments
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-lg-offset-4">
                                <form method="POST" action="{% url 'courses:course-details' course.slug %}" class="post-form">{% csrf_token %}
                                    {{ comment_form.as_p }}
                                    {% if has_access %}
                                        <button type="submit" class="save btn btn-default">Comment</button>
                                        {% else %}
                                        <button type="submit" disabled class="btn btn-warning">Purchase to Comment</button>
                                    {% endif %}
                                </form>
                            </div>
                           
                        </div>
                        <div class="reviews">
                            <div class="reviews-title">Reviews</div>
                            <ul>
                                <li>
                                    {% for cmnt in comments %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="reviewer-details clearfix">
                                                <div class="reviewer-img float-left">
                                                    <img src="{% static 'images/avatar.png' %}" alt="">
                                                </div>
                                                <div class="review-time">
                                                    
                                                    <div class="reviewer-name">
                                                        <strong>{{ cmnt.author.first_name}}</strong>
                                                    </div>
                                                    <div class="time">
                                                       <small>{{ cmnt.created_date }}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="review-details container">
                                              
                                                <div class="review-text">
                                                    <em>"{{ cmnt.text }}"</em>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="course-sidebar natural">
                        <div class="preview-video-box">

                            <a data-toggle="modal" data-target="#CoursePreviewModal">
                                <img src="{{ course.thumbnail.url }}" alt="" class="img-fluid">
                                <span class="preview-text">Preview this course</span>
                                <span class="play-btn"></span>
                                <span id="vid" style="display:none;">{% video course.video '347x200' %}</span>
                            </a>
                            


                        </div>
                        <div class="course-sidebar-text-box">
                            <div class="price">
                                <span class="current-price">
                                    {{ pageInfo.currency }}<span class="current-price">{{ course.price }}</span></span>
                                <input type="hidden" id="total_price_of_checking_out" value="{{ course.price }}">
                            </div>

                            <div class="buy-btns">
                                {% if is_enrolled %}
                                    {% if has_access %}
                                        <button class="btn btn-add-cart" type="button"
                                                style="background-color: #00796b; border-color: #08796f; color: #ffffff">
                                            Already Purchased<br>
                                            <small>Start Learing</small>
                                        </button>
                                    {% else %}
                                        <button class="btn btn-add-cart" type="button"
                                                style="background-color: #f44336; border-color: #e33225; color: #ffffff">
                                            Purchase Confirmation Pending<br>
                                            <small>Contact us</small>
                                        </button>
                                    {% endif %}
                                {% else %}
                                    {% if is_in_cart %}
                                        <button class="btn btn-add-cart" type="button"
                                                style="background-color: #ec5252; border-color: #ec5252; color: #ffffff">
                                            Added to cart
                                        </button>
                                    {% else %}
                                        <form action="{% url 'cart:cart_add' course.slug %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="" name="course_id">
                                            <input type="hidden" value="" name="name">
                                            <input type="hidden" value="" name="price">
                                            <input type="hidden" value="1" name="quantity"><br>
                                            <input class="form-control" type="text" placeholder="Discount Code" name="discount">
                                            <button class="btn btn-add-cart" type="submit" id="cart">Add to cart</button>
                                        </form>
                                    {% endif %}
                                {% endif %}
                            </div>

                            <div class="includes">
                                <div class="title"><b>Course composition:</b></div>
                                <ul>
                                    <li>
                                        <i class="far fa-file-video"></i>
                                        {% if course.lessons.count > 0 %}
                                        {{ course.lessons|total_time }}
                                        {% else %}
                                        0
                                        {% endif %} of Runtime
                                    </li>
                                    <li>
                                        <i class="far fa-file"></i> {{ course.lessons.count }} lessons
                                    </li>
                                    <li><i class="far fa-compass"></i>Full lifetime access
                                    </li>
                                    <li>
                                        <i class="fas fa-mobile-alt"></i>Access on Mobile/Desktop/Tablet
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}